<nav class="navbar navbar-expand-lg" id="idcolor">
    <a class="navbar-brand" routerLink="/">
        <img src="./assets/small laptop .png" alt="">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <h2 class="nav-link" href="#"><b>TICKETING SYSTEM</b></h2>
            </li>
        </ul>
        <h4 class="vl mr-3"></h4>
        <h5 class="navbar-text ml-5">
            <i class="fa fa-info-circle mr-3"></i>
            <b> Sales ans Support</b>
        </h5>
    </div>
</nav>