<app-header></app-header>
<div class="container">
    <div class="col-md-8 col-xs-8 col-lg-8 col-xl-8 col-sm-8 offset-md-2 offset-sm-2 offset-xl-2 offset-lg-2 offset-xs-2 mt-5">
        <header class="form-header text-center">
            <img src="./assets/laptop.png" alt="logo">
        </header>
        <div class="container" id="bgcolor">
            <div class="ml-3 mr-3">
                <form [formGroup]="logForm" (ngSubmit)="onSubmit()">
                    <h3 class="text-center mt-4 mb-5" id="idlogin">LOGIN</h3>
                    <div class="form-group">
                        <label>
                            <h5>Email ID</h5>
                        </label>
                        <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':submitted}">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)">
                            <span class="text-danger" *ngIf="email.errors.email">Enter valid Email id</span>
                            <span class="text-danger" *ngIf="email.errors.required">Email is required</span>
                            <span class="text-danger" *ngIf="email.errors.mustMatch">Email not matched</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            <h5>Password</h5>
                        </label>
                        <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': submitted}">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)">
                            <span class="text-danger" *ngIf="password.errors.required">Password is required</span>
                            <span class="text-danger" *ngIf="password.errors.minlength">Must have atlest 6 characters</span>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">
                            <h5>Remember me</h5>
                        </label>
                        <label class="float-right">
                            <a routerLink="forgotpassword">
                                <h5><u>Forgot your password?</u></h5>
                            </a>
                        </label>
                    </div>
                    <div class="text-center col-md-6 col-xs-6 col-lg-6 col-xl-6 col-sm-6 offset-md-3 offset-xs-3 offset-lg-3 offset-xl-3 offset-sm-3">
                        <p>
                            <button type="submit" class="btn btn-success btn-block mt-4" (click)="OnClick(email.value,password.value)" [disabled]="logForm.invalid">
                                    <h3 class="text-white">Login</h3>
                                </button>
                        </p>

                        <p>
                            <a routerLink="register"> <button type="submit" class="btn btn-primary btn-block mt-4">
                                    <h3 class="text-white">Register Now</h3>
                                </button></a>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>