<app-header></app-header>
<div class="container">
    <div class="col-md-8 col-xs-8 col-lg-8 col-xl-8 col-sm-8 offset-md-2 offset-sm-2 offset-xl-2 offset-lg-2 offset-xs-2 mt-5">
        <header class="form-header text-center">
            <img src="./assets/laptop.png" alt="logo">
        </header>
        <div class="container px-5" id="idcolor">
            <form>
                <div class="text-center mt-5 mb-3">
                    <h2 class="padding"><b>Forgot Password ?</b></h2>
                    <small>Enter the Email you've registered with.<br> We'll send you the instructions there</small>
                </div>
                <div class="form-group mt-4">
                    <label>
                        <h4>Email ID</h4>
                    </label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group py-3">
                    <label>
                        <h4>Organization Name</h4>
                    </label>
                    <input type="orgname" class="form-control">
                </div>

                <div class="text-center col-md-8 col-xs-8 col-lg-8 col-xl-8 col-sm-8 offset-md-2 offset-sm-2 offset-xl-2 offset-lg-2 offset-xs-2">
                    <p> <button type="submit" class="btn btn-success btn-block mt-3"><h4 class="text-white">Request Password Reset</h4></button></p>
                    <p>&nbsp;</p><br>
                </div>

                <label class="float-left" id="idbuttongap">
                    <a routerLink="/">
                        <h6 id="idtext"><u><strong><</strong> &nbsp;Back to login</u></h6>
                    </a>
                </label>
            </form>
        </div>
    </div>
</div>