#idtext {
    color: black;
}

#idcolor {
    background-color: #DEEDF9;
    margin-top: -140px;
}

.padding {
    padding-top: 120px;
}

#idbuttongap {
    margin-top: -55px;
}

* {
    color: #00303F;
}

div {
    border-radius: 3%;
}